{
    email {$LE_EMAIL}
}

{$ZITI_DOMAIN} {
    reverse_proxy ziti-controller:1280 {
        header_up Host {upstream_hostport}
        transport http {
            tls_insecure_skip_verify
            tls_server_name {$ZITI_DOMAIN}
            dial_timeout 10s
        }
    }
}