services:
  ziti-controller:
    image: docker.io/openziti/ziti-controller:latest
    container_name: ziti-controller
    user: "0:0"
    restart: always
    ports:
      - "6262:6262"
    volumes:
      - ./controller-data:/persistent:Z
    environment:
      - ZITI_USER=${ZITI_USER}
      - ZITI_PWD=${ZITI_PWD}
      - ZITI_CTRL_ADVERTISED_ADDRESS=${ZITI_DOMAIN}

  ziti-router:
    image: docker.io/openziti/ziti-router:latest
    container_name: ziti-router
    restart: always
    depends_on:
      - ziti-controller
    environment:
      - ZITI_ENROLL_TOKEN=/persistent/client-router.jwt
      - ZITI_ROUTER_NAME=client-router
      - ZITI_CTRL_ADVERTISED_ADDRESS=ziti-controller
      - ZITI_ROUTER_ADVERTISED_ADDRESS=${ZITI_DOMAIN}
      - ZITI_ROUTER_PORT=10080
    ports:
      - "10080:10080"
    volumes:
      - ./router-data:/persistent:Z

  caddy:
    image: docker.io/library/caddy:latest
    container_name: caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:Z
      - ./caddy_data:/data:Z
    environment:
      - LE_EMAIL=${LE_EMAIL}
      - ZITI_DOMAIN=${ZITI_DOMAIN}