# Core
ZITI_HOME=/opt/openziti
ZITI_VERSION=latest

# Controller
CTRL_DOMAIN=ziti.example.com
ROUTER_DOMAIN=edge.example.com

# Let's Encrypt email
LETSENCRYPT_EMAIL=admin@example.com

ZITI_CTRL_API_PORT=8440
ZITI_CTRL_EDGE_PORT=443

# Router
ZITI_ROUTER_NAME=public-edge-router
ZITI_ROUTER_PORT=443

# System
ZITI_USER=ziti
